@model JaddooTravel.Dtos.FeatureDtos.CreateFeatureDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <input type="text" asp-for="MainTitle" placeholder="Ana Başlık Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="Title" placeholder="Başlık Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="VideoUrl" placeholder="Video Url Giriniz" class="form-control" />
        <br />
        <textarea asp-for="Description" placeholder="Öne Çıkan Açıklaması Giriniz" rows="7" class="form-control"></textarea>
        <br />
        <button class="btn btn-primary">Öne Çıkan Ekle</button>
    </form>
</div>