@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

@await Component.InvokeAsync("_DefaultHeadComponentPartial");


<body>
    <main class="main" id="top">

        @await Component.InvokeAsync("_DefaultNavbarComponentPartial");

        @await Component.InvokeAsync("_DefaultFeatureComponentPartial");
       
        @await Component.InvokeAsync("_DefaultCategoryComponentPartial");

        @await Component.InvokeAsync("_DefaultDestinationComponentPartial");

        @await Component.InvokeAsync("_DefaultBookingStepsComponentPartial");
  
        @await Component.InvokeAsync("_DefaultTestimonialComponentPartial");

        @await Component.InvokeAsync("_DefaultAIComponent");
        
        @await Component.InvokeAsync("_DefaultFooterComponentPartial");
    </main>

    @await Component.InvokeAsync("_DefaultScriptsComponentPartial");

</body>

</html>