@model List<JaddooTravel.Dtos.DestinationDtos.ResultDestinationDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Şehir/Ülke Adı</th>
            <th>Fiyat</th>
            <th>Kapasite</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.DestinationId</th>
                <td>@item.CityCountry</td>
                <td>@item.Price</td>
                <td>@item.Capacity</td>
                <td><a href="/Destination/DeleteDestination/@item.DestinationId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Destination/UpdateDestination/@item.DestinationId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Destination/CreateDestination" class="btn btn-info">Yeni Tur Girişi</a>
</div>