@model JaddooTravel.Dtos.DestinationDtos.GetDestinationByIdDto
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <input type="hidden" asp-for="DestinationId" />
        <input type="text" asp-for="CityCountry" placeholder="Şehir ve Ülke Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="ImageUrl" placeholder="Fotoğraf Yolu Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="Price" placeholder="Fiyat Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="DayNight" placeholder="Gün-Gece Sayısı Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="Capacity" placeholder="Kapasite Giriniz" class="form-control" />
        <br />
        <textarea asp-for="Description" placeholder="Tur Açıklaması Giriniz" rows="7" class="form-control"></textarea>
        <br />
        <button class="btn btn-primary">Turu Güncelle</button>
    </form>
</div>